/* ====================== General */

body {
	background-color: #282828;
}

body.error-404 {
	background-color: #1da1f2;
}

.form-control {
	margin-bottom: 20px;
}

.btn {
	border-radius: 50px;
}

.btn:hover {
	cursor: pointer;
}

#top-row {
	width: 200px;
	height: 40px;
	border: solid 1px black;
}

td {
	width: 200px;
	height: 40px;
	/* border: solid 1px black; */
}

#header-table th {
	width: 200px;
	height: 40px;
	font-size: medium;
	background-color: black;
}

/* ======================= Nav */

.navbar {
	background-color: rgb(1, 0, 69);
	height: 46px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	margin-bottom: 1rem;
	position: relative;
	/* z-index: 9999; */
}

.navbar a {
	color: #e7e9eb;
	font-size: 13px;
	font-weight: bold;
}

.navbar a:hover {
	color: #1c94e0;
}

.navbar-brand {
	display: flex;
	align-items: center;
}

.navbar-brand>img {
	display: inline-block;
	margin-bottom: 2px;
	margin-right: 5px;
	width: 100px;
	border-radius: 2px;
}

.nav>li>a>img {
	width: 32px;
	border-radius: 32px;
}

ul.nav.navbar-nav {
	align-items: center;
}

ul.nav.navbar-nav li {
	margin: 0 0.5rem;
	display: flex;
}

nav form.navbar-form {
	display: flex;
	position: relative;
}

#search.form-control {
	border-radius: 20px;
	margin-bottom: 0;
	width: 100%;
	font-size: 13px;
	padding-right: 28px;
	box-sizing: border-box;
}

#search.form-control+.btn {
	position: absolute;
	right: 9px;
	top: 2px;
	bottom: 4px;
	/* z-index: 1; */
	padding: 0;
	color: #66757f;
}

#search.form-control+.btn:active,
#search.form-control+.btn:focus {
	box-shadow: none;
}

#search:active,
#search:focus {
	box-shadow: none;
	border: 2px solid #007bff;
}

/* on "onboarding" pages (signup & login), the navbar is
   different: no search box, the logo is centered, and it has
   a background color.
 */

.onboarding>.navbar {
	background-image: url("/static/images/nav-bg.png");
	background-size: 100% 100%;
}

.onboarding .navbar-header {
	margin: 0 auto;
}

.onboarding .navbar-brand {
	margin: 0;
}

.onboarding .navbar-brand span {
	/* display: none; */
}

.onboarding .nav.navbar-nav.navbar-right {
	position: absolute;
	right: 16px;
}

.onboarding>.navbar a {
	color: #fff;
}

.onboarding>.navbar form.navbar-form {
	display: none;
}

.onboarding {
	background-color: #fff;
}

@media (max-width: 468px) {
	nav form.navbar-form {
		display: none;
	}
}

nav+.container {
	margin-bottom: 1rem;
}

/* ===================== User profile */

.join-message {
	margin-top: 75px;
}

#profile-image,
#profile-avatar {
	border-radius: 100%;
	display: block;
	margin-left: -15px;
}

#profile-image {
	margin: 0 auto 15px;
	width: 100%;
}

#profile-avatar {
	width: 200px;
	height: 200px;
	border: 5px solid #fff;
	margin-top: -120px;
	/* z-index: 1; */
	position: relative;
	box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);
}

.timeline-image {
	border-radius: 48px;
	height: 48px;
	width: 48px;
	margin-top: 2px;
}

.message-area,
.timeline-image {
	display: inline-block;
}

.message-area {
	margin-left: 10px;
}

#warbler-hero {
	height: 360px;
	margin-top: -16px;
	opacity: 0.9;
	background-size: auto;
	background-position: center;
	overflow: hidden;
}

.full-width {
	width: 100vw;
	margin: 0 -50vw;
	position: relative;
	left: 50%;
	right: 50%;
}

.row.full-width {
	background-color: #fff;
	margin-top: -80px;
	margin-bottom: 1rem;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
	height: 60px;
	align-items: center;
}

.user-stats>.ml-auto {
	display: flex;
	align-items: center;
}

.user-stats>.ml-auto .btn {
	min-width: 105px;
	padding: 6px 16px;
}

.stat {
	text-align: center;
	height: 60px;
	box-sizing: border-box;
	padding: 14px 15px 7px;
	line-height: 1;
}

.stat>.small {
	color: #657786;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.02em;
	margin-bottom: 0;
}

.stat>.small+h4 {
	font-size: 18px;
	font-weight: bold;
	padding-top: 3px;
}

#messages {
	position: relative;
}

#messages .message-link {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	/* z-index: 1; */
}

#messages .list-group-item a:not(.message-link) {
	position: relative;
	/* z-index: 2; */
}

#messages .list-group-item {
	display: flex;
	align-items: flex-start;
	padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item:hover {
	background-color: #e6ecf0;
}

#sidebar-username {
	margin-top: 30px;
	font-size: 21px;
	font-weight: bold;
	line-height: 28px;
	word-wrap: break-word;
}

@media (max-width: 768px) {
	.full-width .user-stats .stat {
		display: none;
	}
}

.user-location {
	color: #657786;
}

/* ==================== User cards on follower/following pages */

.user-card {
	width: 100%;
	padding-bottom: 100%;
	border-radius: 5px;
	border: 1px solid #ccc;
	position: relative;
	background: white;
	margin-top: 20px;
}

.user-card>div {
	position: absolute;
	background: white;
}

.user-card form {
	margin-top: 5px;
	margin-right: 5px;
}

.user-card form .btn {
	min-width: 89px;
	padding: 4px 12px;
	font-size: 12px;
}

.card-hero {
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.card-image {
	border: 3px solid #fff;
	border-radius: 70px;
	height: 70px;
	width: 70px;
	margin-top: -35px;
	position: relative;
	/* z-index: 1; */
}

.card-link {
	display: inline-block;
	margin-left: 10px;
}

.card-link>p {
	position: absolute;
}

.user-cards {
	margin-bottom: 20px;
}

.card-inner {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.image-wrapper {
	width: 100%;
	padding-bottom: 36%;
	position: relative;
	overflow: hidden;
}

.card-contents {
	display: flex;
	justify-content: space-between;
}

p.card-bio {
	margin: 2em 10px 0;
}

/* ============================ Signed out home */

.home-hero .btn {
	text-shadow: none;
	position: relative;
	z-index: 9999;
	width: 150px;
}

.main-table h1 {
	margin-top: 0;
	width: 100%;
}

.main-table h2 {
	margin-top: 0px;
	/* margin-bottom: 4rem; */
}

/* .home-hero:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.3);
} */

.home-hero {
	text-align: center;
	padding: 70px;
}

.home-hero>img {
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* ============================== Signed in Home */

#home-aside>.user-card {
	margin-top: 0;
	overflow: hidden;
}

#home-aside>.user-card .card-link {
	display: flex;
}

#home-aside>.user-card .card-link>p {
	margin-left: 0.5rem;
	margin-top: 0.25rem;
}

#home-aside>.user-card .stat {
	padding: 14px 0 7px;
}

#home-aside>.user-card .user-stats {
	display: flex;
	justify-content: space-around;
}

#home-aside>.user-card>div {
	width: 100%;
}

#home-aside .card-link>p {
	position: relative;
}

#home-aside .stat h4 {
	text-align: left;
}

/* ========================== Signup/Login */

#user_form input.form-control {
	font-size: 18px;
	font-weight: bold;
	padding: 12px;
}

/* =========================== Edit Page */

.edit-btn-area {
	display: flex;
	justify-content: space-between;
}

.edit-btn-area>.btn {
	width: 48%;
}

/* =========================== Message Show page */

.bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #62676c;
}

#messages.no-hover .message-area {
	width: 100%;
}

#messages.no-hover .message-heading {
	display: flex;
	justify-content: space-between;
	height: 47px;
	margin-top: 3px;
}

#messages.no-hover .message-heading .btn {
	min-width: 105px;
}

#messages-form {
	position: absolute;
	top: 4px;
	right: 4px;
	/* z-index: 1; */
}

.single-message {
	font-size: 27px;
	line-height: 32px;
	letter-spacing: 0.01em;
	margin-bottom: 10px;
}

/* ================================ 404 page */

.message-404 {
	color: white;
	margin-top: 2em;
	text-align: center;
}

.message-404 a {
	color: white;
}

.message-404>h4.display-4 {
	font-size: 2.5em;
}

.message-404 .form-inline input {
	flex: 1;
}

.input-id {
	margin-left: 10px;
}

.fas {
	color: rgb(255, 217, 0);
}

.main-header {
	/* align-items: center; */
	text-align: center;
}

.main-table {
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;

	background-size: cover;
	background-position: center center;
	text-align: center;
	padding: 1rem;
	text-shadow: 0 0 8px #66757f;
	text-align: center;
	margin-top: 120px;
}

.favorites-table {
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100vw;
	left: 0;

	background-size: cover;
	background-position: center center;
	/* color: rgb(12, 12, 12); */
	text-align: center;
	padding: 1rem;
	text-shadow: 0 0 8px #66757f;
	text-align: center;
	margin-top: 50px;
}

/* .news-container {
	margin-bottom: 20px;
} */

#news-section {
	margin-top: 10px;
	align-content: center;
	align-items: center;
	width: 100%;
}

#front-page-logo {
	width: 50%;
}

.news-image {
	width: 120px;
	height: 120px;
}

.news-block {
	background-color: white;
	padding: 0 20px 0 20px;
	width: 100%;
	align-items: center;
}

.story-title {
	color: black;
}

.main-logo {
	width: 300px;
	margin-top: px;
}

.clickable-field {
	cursor: pointer;
}

#btc-chart {
	margin-top: 575px;
	background-color: rgba(255, 255, 255, 0.822);
	width: 100%;
}

/* .btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
	background-color: #251935 !important;
} */

#details-chart {
	width: 95vw;
	background-color: rgba(255, 255, 255, 0.822);
}

.float-container {
	border: 3px solid rgb(1, 0, 69);
	background-color: rgb(1, 0, 69);
	padding: 20px;
	width: 95vw;
	align-items: center;
	text-align: center;
}

.float-child {
	width: 32%;
	float: left;
	padding: 15px;
	margin: 4px;
	border: 2px solid rgb(1, 0, 69);
	border-radius: 5px;
	align-items: center;
	text-align: center;
	background-color: white;
}

.chart-title {
	text-align: center;
	align-items: center;
}