@font-face {
	font-family: 'BatmanForeverAlternate';
	src: url('BatmanForeverAlternate.woff2') format('woff2'),
		url('BatmanForeverAlternate.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Game Of Squids';
	src: url('GameOfSquids.woff2') format('woff2'),
		url('GameOfSquids.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Nasalization Rg';
	src: url('NasalizationRg-Regular.woff2') format('woff2'),
		url('NasalizationRg-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Autography';
	src: url('Autography.woff2') format('woff2'),
		url('Autography.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

body {
	background-color: #000000;
}

body.error-404 {
	background-color: #1da1f2;
}

#ethereum-logo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-control {
	margin-bottom: 20px;
}

.btn {
	border-radius: 50px;
	border-color: #1ce057;
	background-color: #1ce057;
}

.btn:hover {
	cursor: pointer;
	background-color: rgb(0, 185, 74);
	border-color: rgb(0, 185, 74);
}

#top-row {
	width: 200px;
	height: 40px;
	border: solid 1px black;
}

td {
	width: 200px;
	height: 40px;
	font-family: 'Nasalization Rg';
}

#header-table th {
	width: 200px;
	height: 40px;
	font-size: medium;
	font-family: 'Nasalization Rg';
	background-color: black;
}

.news-container h3 {
	font-family: 'BatmanForeverAlternate';
	color: white;
}

.news-container p {
	font-family: 'Nasalization Rg';
	color: white;
}

#click-a-row {
	color: white;
	text-align: center;
	margin-bottom: 0px;
	font-family: 'Autography';
	font-size: x-large;
}

/* ======================= Nav */

.navbar {
	background-image: linear-gradient(180deg, rgb(16, 16, 16), rgb(76, 76, 76));
	height: 46px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	margin-bottom: 1rem;
	position: relative;
}

.navbar a {
	color: #e7e9eb;
	font-size: 13px;
	font-weight: bold;
	font-family: 'Game Of Squids';
}

@media screen and (max-width:600px) {
	.navbar a {

		font-size: 9px;

	}
}

.navbar a:hover {
	color: rgb(0, 185, 74);
}

.navbar-brand {
	display: flex;
	align-items: left;
}

.navbar-brand>img {
	display: inline-block;
	margin-bottom: 2px;
	margin-right: 5px;
	width: 150px;
	border-radius: 2px;
	align-items: left;
	justify-content: left;
}

.nav>li>a>img {
	width: 32px;
	border-radius: 32px;
}

ul.nav.navbar-nav {
	align-items: center;
}

ul.nav.navbar-nav li {
	margin: 0 0.5rem;
	display: flex;
}

nav form.navbar-form {
	display: flex;
	position: relative;
}



/* ====================== Sign up and Log in */

.onboarding>.navbar {
	background-image: url("/static/images/nav-bg.png");
	background-size: 100% 100%;
}

.onboarding .navbar-header {
	/* margin: 0 auto; */
}

.navbar-header.navbar-brand {
	align-items: left;
	justify-content: left;
}

.onboarding .navbar-brand {
	margin: 0;
	align-items: left;
	justify-content: left;
}


.onboarding .nav.navbar-nav.navbar-right {
	position: absolute;
	right: 16px;
	1
}

.onboarding>.navbar a {
	color: #fff;
}

.onboarding>.navbar form.navbar-form {
	display: none;
}

.onboarding {
	background-color: #000000;
}

nav.navbar.navbar-expand {
	background-image: linear-gradient(180deg, rgb(16, 16, 16), rgb(76, 76, 76));
}

/* ===================== User profile */

.join-message {
	font-family: 'BatmanForeverAlternate';
	text-align: center;
	margin-top: 75px;
	color: white;
}


/* ====================== Home pages */

.main-table {
	table-layout: fixed;
}




.main-table h1 {
	margin-top: 0;
	width: 100%;

}

.main-table h3 {
	font-family: 'BatmanForeverAlternate';

}

.main-table h2 {
	margin-top: 0px;
}

.main-table p {
	font-family: 'Nasalization Rg';
}


.home-hero {
	align-items: center;
	justify-content: center;
	text-align: center;
	margin-top: 1%;
	padding: 70px;
	font-family: 'Nasalization Rg';
}

.home-hero .btn {
	text-shadow: none;
	position: relative;
	z-index: 9999;
	width: 150px;
}

.home-hero>img {
	width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.home-hero>h1 {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media screen and (max-width:600px) {
	.home-hero>img {
		width: 250px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.home-hero>h1 {
		font-weight: bold;
		font-size: 1.5rem;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.home-hero h4 {
		margin-bottom: 2rem;
		font-size: 1rem;
	}
}



/* ====================== Sign up/Login Pages */

#user_form input.form-control {
	font-size: 18px;
	font-weight: bold;
	padding: 12px;
}

.login-container {
	margin-top: 12.5%;
}

.signup-container {
	margin-top: 7.5%;
}

/* ====================== Main Page */

.fas {
	color: rgb(255, 217, 0);
}

.main-header {
	padding: 8px;
	text-align: center;
}



@media screen and (max-width:600px) {
	.main-header img {
		width: 300px;
	}

	.container-fluid ul {
		font-size: 1rem;
	}
}

.main-table {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: flex;
	width: 100%;
	background-size: cover;
	text-align: center;
	text-shadow: 0 0 8px #66757f;
}

@media screen and (max-width:600px) {
	.main-table {
		width: 100%;
		font-size: 7px;
	}

	#header-table th {
		width: 100%;
		height: 40px;
		font-size: medium;
		font-family: 'Nasalization Rg';
		background-color: black;
	}

	.main-table td {
		width: 50px;
	}
}

.favorites-table {
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 0;
	width: 100vw;
	left: 0;

	background-size: cover;
	background-position: center center;
	text-align: center;
	padding: 1rem;
	text-shadow: 0 0 8px #66757f;
	text-align: center;
	margin-top: 50px;
}

#news-section {
	margin-top: 20px;
	align-content: center;
	align-items: center;
	width: 100%;
}

#front-page-logo {
	width: 50%;
}

.news-image {
	width: 120px;
	height: 120px;
}

.news-block {
	background-color: rgba(43, 43, 43, 0.822);
	padding: 0 20px 0 20px;
	width: 100%;
	align-items: center;
}

.story-title {
	color: white;
}

.story-title:hover {
	color: rgb(0, 185, 74);
	;
}

.main-logo {
	width: 400px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.clickable-field {
	cursor: pointer;
}

#btc-chart {
	background-color: rgba(43, 43, 43, 0.822);
}

#btc-chart tspan {
	color: white;

}

/* ====================== Details Page */


#details-chart {
	width: 95vw;
	background-color: rgba(255, 255, 255, 0.822);
}

#details-chart h4 {
	font-family: 'Game Of Squids';
}


.float-container {
	font-family: 'Nasalization Rg';
	color: white;
	border: 3px solid rgb(43, 43, 43);
	background-color: rgb(43, 43, 43);
	padding: 20px;
	width: 95vw;
	align-items: center;
	text-align: center;
	border-radius: 10px;
}

.float-child-1 {
	width: 32%;
	float: left;
	padding: 15px;
	margin: 4px;
	border: 2px solid rgb(5, 45, 45);
	border-radius: 5px;
	align-items: center;
	text-align: center;
	background-color: rgb(215, 60, 86);
}

.float-child-2 {
	width: 32%;
	float: left;
	padding: 15px;
	margin: 4px;
	border: 2px solid rgb(5, 45, 45);
	border-radius: 5px;
	align-items: center;
	text-align: center;
	background-color: rgb(223, 197, 68);
}

.float-child-3 {
	width: 32%;
	float: left;
	padding: 15px;
	margin: 4px;
	border: 2px solid rgb(5, 45, 45);
	border-radius: 5px;
	align-items: center;
	text-align: center;
	background-color: rgb(21, 155, 244);
}


.chart-title {
	text-align: center;
	align-items: center;
	margin-top: 10px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.822);
	font-family: 'Game Of Squids';
}