<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crypto Crunch</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/app.js"></script>
  <script src="/static/news_app.js"></script>

  <link rel="preload" href="Autography.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="NasalizationRg-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="GameOfSquids.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="BatmanForeverAlternate.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  <link rel="stylesheet" href="/static/app.css">

</head>

<body class="{% block body_class %}{% endblock %}">
  <nav class="navbar navbar-expand">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">
          <img src="/static/images/cryptoCrunch_new_logo2.png" alt="logo">

        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">

        {% if not g.user %}
        <li><a href="/signup">Sign up</a></li>
        <li><a href="/login">Log in</a></li>
        {% else %}

        <li>
        <li><a href="/">home</a></li>
        <a href="/users/{{ g.user.id }}">favorites

        </a>
        </li>
        <li><a href="/logout">Logout</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    {% endblock %}

  </div>
  {% if g.user %}
  <script>
    var user_id = {{ g.user.id }}
  </script>
  {% endif %}
</body>

</html>