{% extends 'base.html' %}
{% block content %}

<div class="main-header">
  <img class="main-logo" src="/static/images/cryptoCrunch_new_logo2.png" alt="">
</div>

<div id="click-a-row">
  <p>click rows for details</p>
</div>

<div class="main-table">
  <table class="table table-dark table-striped thead-dark table-hover">
    <thead>
      <tr id="header-table">
        <th>Name</th>
        <th>Price</th>
        <th>% Change</th>
        <th>Mkt. Cap</th>
        <th>Favorite</th>
      </tr>
    </thead>
    <tbody id="price-list">

    </tbody>
  </table>
</div>

<div id="btc-chart">
  <h3 class="chart-title"><span style="color:rgb(1, 187, 91)"> Live</span> Bitcoin Price Chart</h3>
  <div id="myBitcoinChart"></div>
</div>

<div class="news-container">
  <br>
  <h3 id="lastest-news"> Latest News</h3>
  <div id="news-section"></div>
</div>

<script>

  window.addEventListener('load', (event) => {
    console.log('page is loaded');
    updateDatabase();

  });
</script>

<script>

  async function getData() {
    const response = await fetch('https://min-api.cryptocompare.com/data/v2/histoday?fsym=BTC&tsym=USD&limit=30')
    console.log(response);
    const data = await response.json();

    let arr = data.Data.Data;
    let seriesData = []

    for (let x = 0; x < arr.length; x++) {
      let unixTimestamp = arr[x].time;
      let timeStamp = new Date(unixTimestamp * 1000);
      let date = timeStamp.toLocaleDateString('en-US');
      seriesData.push([date, arr[x].open, arr[x].high, arr[x].low, arr[x].close])
    }

    var options = {
      series: [{

        data: seriesData

      }],
      chart: {
        type: 'candlestick',
        height: 350,
        width: '100%'
      },
      title: {
        text: '$BTC',
        align: 'left',
        style: {
          color: 'white'
        },
      },
      xaxis: {
        type: 'datetime',
        labels: {
          style: {
            colors: '#fff'
          },
        }
      },
      yaxis: {
        labels: {
          style: {
            colors: '#fff'
          },
        },
        tooltip: {
          enabled: true
        },
      },

    };

    var chart = new ApexCharts(document.querySelector("#myBitcoinChart"), options);
    chart.render();

  }

  getData();

</script>

{% endblock %}