{% extends 'base.html' %} 
{% block content %}
<div class="home-hero">
    <h1>Welcome</h1>
    <br>
    <h3> Current Cryptocurrency Market</h3>
  
      <br>
  
    <div>
      <table class="table table-dark table-striped thead-dark">
        <thead>
          <tr id="header-table">
            <th>Token</th>
            <th>Price</th>
            <th>24hr %</th>
            <th>Market Cap</th>
            <th>Favorite</th>
          </tr>
        </thead>
        <tbody id="price-list" ></tbody>
      </table>
    </div>
   
    
</div>
{% endblock %}